@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #FFF0F5; 
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 10px;
  background-color: #ddd;
  font-size: 14px;
  text-align: center;
  margin-top: 40px;
}