<nav class="navbar">
  <ul class="nav-links">
    <li>
      <a href="#" class="nav-button">
        <span class="material-symbols-outlined">home</span>
        Inicio
      </a>
    </li>
    <li>
      <a href="#" class="nav-button">
        <span class="material-symbols-outlined">info</span>
        Sobre Nosotros
      </a>
    </li>
    <li>
      <a href="#" class="nav-button">
        <span class="material-symbols-outlined">photo</span>
        Galería
      </a>
    </li>
    <li>
      <a href="#" class="nav-button">
        <span class="material-symbols-outlined">contact_mail</span>
        Contacto
      </a>
    </li>
  </ul>
</nav>